.places{
    margin-bottom: 92px;
    width: 77%;
  }

@media(max-width: 1100px){
    .places{
      width: 90%;
    }
}
@media(max-width: 900px){
  .places{
    width: 95%;
    margin-bottom: 88px;
  }
}