.place__url-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.22;
    color: #ffffff;
    text-decoration-line: underline;
    transition: opacity 0.3s ease-in;
  }

  .place__url-link:hover{
    opacity: 0.8;
  }