.lead{
    width: 80%;
    margin-bottom: 92px;
    color: white;
}

@media(max-width: 1100px){
    .lead{
        width: 90%;
    }
}

@media(max-width: 900px){
    .lead{
        width: 100%;
        margin-bottom: 88px;
    }
}