.places{
  margin: 0 auto 92px;
  width: 76%;
}

.place{
  display: flex;
  color: White;
  margin-bottom: 80px;
  justify-content: space-between;
}

.place__title{
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0 0 48px;
}

.place__column{
  display:flex;
  flex-direction: column;
  width: 48%;
  
}

.place__column_right{
  
}

.place__url-text{
  font-size: 12;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 12px;
}

.place__text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
}

.place__url-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  color: #ffffff;
  text-decoration-line: underline;
}
  

.place__image{
  width: 100%;
}

/*.place__row{
  display: flex;
  width: 96%;
  justify-content: space-between;
}
.place1{
  display: flex;
  flex-direction: column;
  color: White;
  margin-bottom: 80px;
  ;
}


font-size: ;
  font-weight: ;
  line-height: ;*/