.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 28px;
    margin-bottom: 56px;
}

@media(max-width: 1100px){
    .header{
        margin-bottom: 48px;
      }
}

@media(max-width: 500px){
    .header{
        padding-top: 16px;
      }
} 
