.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    margin-bottom: 56px ;
}

@media(max-width: 1100px){
    .header{
        margin-bottom: 48px;
    }
}