.lead__title{
    width: 720px;
    margin: 0 auto 32px;
    text-align: center;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 900;
}


@media(max-width: 745px){
    .lead__title{
        width: 600px;
        font-size: 60px;
    }
}  

@media(max-width: 645px){
    .lead__title{
        width: 288px;
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 18px;
    }
}  