.intro{
    width: 80%;
    margin-bottom: 92px;
    color: white;
}

@media(max-width: 1100px){
    .intro{
        width: 90%;
    }    
}

@media(max-width: 900px){
    .intro{
        width: 95%;
        margin-bottom: 88px;
    }    
}

@media(max-width: 500px){
    .intro{
        width: 90%;
    }
} 