.lead__subtitle{
    width: 620px;
    margin: 0 auto 64px;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
}

@media(max-width: 1100px){
    .lead__subtitle{
        margin-bottom: 56px;
    }    
}