.cover{
    width: 92%;
    margin-bottom: 90px;
}

@media(max-width: 1100px){
    .cover{
        width: 100%;
    }
}

@media(max-width: 900px){
    .cover{
        margin-bottom: 88px;   
    }
} 

@media(max-width: 500px){
    .cover{
        margin-bottom: 64px;   
    }
} 