.cover__title{
    width: 560px;
    align-self: end;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    text-align: center;
    margin: 0 0 -35px 0;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
  }