.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
    padding-bottom: 24px;
  }

@media(max-width: 900px){
  .footer{
      width: 95%;
    }
}

@media(max-width: 690px){
  .footer{
      flex-direction: column;
      width: 90%;
      align-items: flex-start;
    }
}